body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1a1a1a;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #252525;
    color: #fff;
    max-width: 83%;
}

h2 {
    padding: 10px;
    margin-top: -20px;
    margin-bottom: 20px;
    font-size: 24px;
}

.password-box input {
    width: calc(100% - 24px); /* Adjust input width for padding */
    max-width: 600px;
    padding: 12px;
    font-size: 16px;
    margin-bottom: 10px;
    background-color: #303030;
    border: 1px solid #00c3ff;
    border-radius: 5px;
    color: #fff;
}

.password-box button {
    width: calc(50% - 12px);
    max-width: 300px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    background-color: #57d85b; /* Change background color to transparent */
    border: none; /* Add a border with green color */
    border-radius: 5px;
    color: #fff; /* Change text color to green */
    transition: background-color 0.3s ease;
    margin-left: 6px;
    margin-top: 10px;
}

.password-box button:hover {
    background-color: #6aee6e; /* Change background color on hover */
    color: #fff; /* Change text color on hover */
}


.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.options label {
    margin-bottom: 5px;
    align-items: center;
}

.checkboxes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.passlength{
    position: relative;
}

footer {
    background-color: #ff5757;
    color: #fff;
    padding: 10px 30px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: auto;
}

footer p {
    margin: 0;
}

.btn-home{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgb(248, 92, 92);
    color: #ffffff; /* Red color */
    border: none;
    padding: 5px 15px; /* Adjusted padding to make it smaller */
    border-radius: 50px;
    cursor: pointer;
    font-size: 14px; /* Smaller font size */
    font-weight:500;
    z-index: 9999; /* Ensure the button appears above other content */
}
.btn-home:hover {
    background-color: #ff8a8a; /* Red background on hover */
    color: white; /* White text on hover */
}
